*{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    width: 1024px;
    height: 768px;
    margin: auto;
}

.header{
    width: 1024px;
    height: 65px;
    margin: auto;
    background-color: #fff;
    border: 1px solid black;
    border-bottom: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.aside{
    width: 215px;
    height: calc(768px - 65px - 20px);
    border: 1px solid black;
    border-right: 0;

}

.main{
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    border: 1px solid black;

}

.footer{
    width: 1024px;
    height: 20px;
    border: 1px solid black;
    border-top: 0;
}